<% include partials/header.ejs%>
<div class="container">
    <h1>landing page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, officiis, minus, asperiores repellendus reiciendis architecto nemo consectetur quasi iste dolor magni dolore maiores numquam. Adipisci, minima ducimus aliquid vel et!</p>
    <a href="/campgrounds">view all campgrounds</a>
</div>
<% include partials/footer.ejs%>