<% include ../partials/header.ejs%>
<div class="container">
    <h1 style="text-align: center">Sign Up</h1>
    <form style="width: 30%; margin: 25px auto;" action="/register" method="POST">
        <div class="form-group">
            <input class="form-control" type="text" name="username" placeholder="username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="password">
        </div>
        <div class="form-group">
            <button class="form-control btn btn-info" >Sign Up</button>
        </div>
    </form>
</div>
<% include ../partials/footer.ejs%>